#row1  img{
  display: inline-block;
  width: 15%;
  height: 150px;
}
#row1 h1 {
display: inline-block;
width: 75%;
height: 150px;
text-align: center;
}
img {
  width: 120px;
  height: 120px;
}
#row2 {
  text-align: center;
}
#row2 select {
width: 260px;
padding: 5px;
font-size: 13px;
line-height: 1;
border: 5px solid #ccc;
border-radius: 5%;
height: 35px;
}
#row2 button {
  margin: 15px;
  border-radius: 5%;
  font-size: 13px;
  height: 30px;
  width: 160px;
}
