body {
  margin: 0 auto;
  background-color: black;
  color: white;
}

.row1 {
  float: left;
  
  width: 25%
}
.incorrect {
width: 60px;
height: 100px;

}
.turn {

  width: 60px;


}
#container{
 clear: both;
 text-align: center;
}
input{
  margin: 10px;

display: inline-block;
background-color: grey;
}
button{
  margin: 10px;
  background-color: grey;
}
