h3{
  color: pink;
}

.content{
  colot:plum;
}

#slogan{
  colot:tomato;
}
.secure-msg{
  color: red;
  border: 1px solid tomato;
  padding: 10px
}
input {
  border: 1px solid tomato;
}
h1{
  border: 
}
main *{
  background-color: grey;
}

#div >p {
  background-color: grey; 
}

li{
  display: inline-block;
  width: 80px;
  border: 5px solid grey;
  padding: 0 10px;
  box-sizing: border-box;
}